<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-56aa6665-e032-43ff-9396-24a43d16becb;AttachDbFilename=|DataDirectory|\aspnet-Website-56aa6665-e032-43ff-9396-24a43d16becb.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="FSISDB"
        connectionString="Data Source=.; Initial Catalog=FSIS_2018; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
</connectionStrings>
